.footer{
    background-color: black;

    &__container{
        margin: 0 auto;
        text-align: center;
        padding: 12px 0;
        width: 760px;

    h3{
        color: yellow;
        font-family: 'Bangers', cursive;
        font-size: 32px;
        padding-bottom: 12px;
    }

    p{
        color: silver;
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 12px;
    }
}
}