.header{
    width: 100%;
    height: 9vh;
    // background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &__navbar{
        display: flex;
        justify-content: space-between;
        padding-top: 1vh;
        align-items: center;

        &__nome{
            justify-content: space-between;

            a{
                text-decoration: none;
                
                img{
                    width: 240px;
                }
            }
            span{
                display: none;
            }
        }

        &.rolagem{
            background-color: #110824;
            border-bottom: 1px solid #eee;
            padding-bottom: 3px;
            align-items: center;
            padding-top: 1vh;
            box-shadow: 0 5px 15px -2px gray;

            .menu{
                &__itens{

                    &__link{
                        color: #ffffff;

                        &:hover::after{
                            transform: scaleX(1);
                        }
                    }
                }
            }
            
            .header__navbar__nome {

                a{
                    h3{
                        display: flex;
                    }
                }
                }
        }

        .menu{
            display: flex;
            margin-right: 15%;

            &__itens{
                padding-left: 50px;
                list-style: none;
                
                &__link{
                    text-decoration: none;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: aliceblue;
                    letter-spacing: .24px;
                    font-weight: bolder;

                    &:hover{
                        color: #A0E613;
                    }
                }
            }

            span{
                display: none;
            }
        }

        .mobile__menu{
            cursor: pointer;
            display: none;

            #line{
                width: 26px;
                height: 2px;
                background: #ffffff;
                margin: 4px;
                transition: 0.3s;
            }
        }
    }
}

@media (max-width:767px){

    body{
        overflow-x: hidden;
    }

    .header{
        width: 100%;
        height: 4vh;
    
        &__navbar{
            background-color: #110824;
            height: 40px;
            border-bottom: 1px solid #ccc;
            box-shadow: 0 5px 15px -2px gray;
            padding-bottom: 0px;
            align-items: center;

            .mobile__menu{
                display: block;
                margin-right: 13px;

                span{
                    display: flex;
                }

                #line{
                    background-color: #ffffff;
                    
                }
            }
    
            &__nome{
                margin-left: 0px;
                display: flex;
                align-items: center;
    
                a{
                    text-decoration: none;
                    
                    img{
                        height: 50px;
                        width: 160px;
                    }
                }
                    span{
                        margin-left: 116px;
                        font-weight: bold;
                        padding-top: 2px;
                        letter-spacing: 1px;
                        display: block;
                        color: #ffffff;
                    }
                
            }

            &.rolagem{
                // background-color: #ffffff;

                a.menu__itens__link{
                    color: rgb(255, 255, 255);
                }
            }
    
            .menu{
                position: fixed;
                top: 40px;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 94%;
                background-color: #A0E613;
                flex-direction: column;
                align-items:flex-start;
                // justify-content: space-evenly;
                transform: translateX(100%);
                transition: transform 0.3s ease-in;
                margin-right: 0;

                span{
                    color: #110824;
                    border-bottom: 1px solid #000;
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: uppercase;
                    display: block;
                    margin: 0 auto;
                    text-align: left;
                    padding-bottom: 12px;
                    padding-top: 36px;
                    margin-bottom: 12px;
                    width: 100%;
                    text-align: center;
                }
    
                &__itens{
                    padding-right: 0px;
                    padding-bottom: 18px;
                    padding-top: 20px;
                    margin: 0 auto;
                    padding-left: 0;
                    border-bottom: 1px solid #000;
                    width: 100%;
                    text-align: center;
                    
                    a{
                        color: #ffffff;
                        letter-spacing: 1px;
                        font-size: 16px;

                        &:hover{
                            color: #eee;
                        }
                    }
                }
            }
            .menu.active{
                transform: translateX(0);
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .header{
        width: 100%;
        height: 9vh;
        // background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    
        &__navbar{
            display: flex;
            justify-content: space-between;
            padding-top: 1vh;
            align-items: center;
    
            &__nome{
                justify-content: space-between;
    
                a{
                    text-decoration: none;
                    
                    h3{
                        color: #A0E613;
                        padding-left: 50px;
                        font-size: 28px;
                        font-family: 'Bangers', cursive;
                    }
                }
                span{
                    display: none;
                }
            }
        }
        .menu{
            margin-right: 10%;
            align-items: center;

            #home{
                display: none;
            }
        }
    }
}

.mobile__menu.active .mobile__menu__line1{
    transform: rotate(-45deg) translate(-2px, 8px);
}

.mobile__menu.active .mobile__menu__line2{
    opacity: 0;
}

.mobile__menu.active .mobile__menu__line3{
    transform: rotate(45deg) translate(0px, -7px);
}
