.propaganda{
    background-image: url("../images/Sem\ nome1\ \(1600\ ×\ 360\ px\).png");
    background-size: cover;
    background-repeat:no-repeat;
    height: 42vh;

    .container{
        margin: 0 auto;
        text-align: center;

        h1{
            padding-top: 90px;
            font-size: 60px;
            padding-bottom: 20px;
            font-weight: bold;
            color: #9aff47;
        }

        p{
            font-size: 28px;
            font-weight: bold;
            color: #ffffff;
        }
    }
}

@media (max-width:767px){
    .propaganda{
        height: 44vh;
    
        .container{
            width: 80%;
    
            h1{
                padding-top: 60px;
                font-size: 40px;
                padding-bottom: 20px;
            }
    
            p{
                font-size: 18px;
                margin: 0 30px;
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .propaganda{
        height: 26vh;
    
        .container{
            width: 90%;
    
            h1{
                padding-top: 60px;
                font-size: 60px;
                padding-bottom: 20px;
            }
    
            p{
                font-size: 32px;
                margin: 0 40px;
            }
        }
    }
}