.question{
    background-image: url("../images/Sem\ nome\ \(1600\ ×\ 360\ px\).png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    background-attachment: fixed;
    position: relative;

    .container{
        position: relative;

        h1{
            font-size: 56px;
            width: 58vw;
            text-align: center;
            margin: 0 auto;
            color: #ffee00;
            padding-top: 16vh;
            font-family: 'Roboto', sans-serif;
        }
    }
}

@media (max-width:767px){
    .question{
        .container{
    
            h1{
                font-size: 42px;
                width: 80%;
                text-align: center;
                margin: 0 auto;
                color: #ffee00;
                padding-top: 12vh;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}