.question{
    background-image: url("../images/Sem\ nome\ 2\(1600\ ×\ 360\ px\).png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    background-attachment: fixed;
    position: relative;

    .container{
        position: relative;

        h1{
            font-size: 56px;
            width: 50vw;
            text-align: left;
            margin: 0 32px;
            color: #f1f1f1;
            padding-top: 16vh;
            font-family: 'Roboto', sans-serif;
        }
    }
}

@media (max-width:767px){
    .question{
        background-image: url("../images/mobile.question.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;

        .container{
            h1{
                font-size: 42px;
                width: 80%;
                text-align: center;
                margin: 0 auto;
                color: #e7e7e7;
                padding-top: 12vh;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .question{
        height: 40vh;

        .container{
            width: 90%;

            h1{
                font-size: 56px;
                width: 90%;
                text-align: center;
                margin: 0 auto;
                padding-top: 12vh;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}